doctype html
html(lang="en")
    head
        meta(charset='UTF-8')
        title Login to CoBit
        script(src='/javascripts/jquery/jquery-3.1.1.min.js')
        script(src='/javascripts/jquery-ui-1.12.1.custom/jquery-ui.min.js')
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/stylesheets/loginstyle.css')
    body
        #loginWrapperAll
            #topLogin CoBit
                p 404
            #loginWrapper
                h1 Oops
                p Looks like you caught a 404!