doctype html
html(lang="en")
    head
        meta(charset='UTF-8')
        title CoBit
        script(src='/javascripts/jquery/jquery-3.1.1.min.js')
        script(src='/javascripts/jquery-ui-1.12.1.custom/jquery-ui.min.js')
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/stylesheets/homeStyle.css')
        script(src='/javascripts/home.js')
        script(type='text/javascript') var login_data = !{JSON.stringify(loginData)};
        link(rel="stylesheet", href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
        script(src='/javascripts/homeScript.js')
    body
        #topWrapper
            a(href='../' id='toHome')
                i(class='fa fa-code' style='color: lightgrey; font-size:50px; height:30px; float:left;' aria-hidden="true")
                #title CoBit
            a(href='/login/register' id='toSignUp')
                button#registerButton.topButton Sign Up
            a(href='/login' id='toLogin')
                button#loginButtonUser.topButton Login
            a(href='/cobit/new')
                button#newCoBitButton.topButton + New CoBit
        #homeHeader
            iframe#backgroundContainer(onload="newBackground()")
            #homeHeaderTitle
                i(class='fa fa-code' id='homeLogo' aria-hidden="true")
                #homeTitle &nbsp;CobBit is a place for the front end developer to create, test and design.