doctype html
html(lang="en")
    head
        meta(charset='UTF-8')
        title Login to CoBit
        script(src='/javascripts/jquery/jquery-3.1.1.min.js')
        script(src='/javascripts/jquery-ui-1.12.1.custom/jquery-ui.min.js')
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/stylesheets/loginstyle.css')
    body
        #loginWrapperAll
            #topLogin CoBit
                p Welcome to CoBit
            #loginWrapper
                h1 Login
                form#loginForm(name="login" method="post" action="/login/loginuser")
                    p Username or e-mail:
                    input#uNameInput.loginInput(type="text" name="uName")
                    p Password:
                    input#pwInput.loginInput(type="password" name="passWord")
                    a(href="/login/forgotpassword") forgot password?
                    a#registerLink(href="/login/register") Register
                    button#loginButton(type="submit" form="loginForm") Login