doctype html
html(lang="en")
    head
        meta(charset='UTF-8')
        title CoBit
        script(src='/javascripts/jquery/jquery-3.1.1.min.js')
        script(src='/javascripts/jquery-ui-1.12.1.custom/jquery-ui.min.js')
        script(type='text/javascript').
            var cobit_data = !{JSON.stringify(coBitData)}; var login_data = !{JSON.stringify(loginData)}; var user_data = !{JSON.stringify(userData)};
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/stylesheets/userStyle.css')
        link(rel="stylesheet", href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
        script(src='/javascripts/test2.js')
    body
        #topWrapper
            a(href='../' id='toHome')
                i(class='fa fa-code' style='color: lightgrey; font-size:50px; height:30px; float:left;' aria-hidden="true")
                #title CoBit
            a(href='../login' id='toLogin')
                button#loginButtonUser.topButton Login
            a(href='../cobit/new' id='toNewCoBit')
                button#newCoBitButton.topButton + New CoBit
        #userFront
            #userInfo
                img(src='../Images/standard_profile.png' id='profilePic')
                p#profileName
        #coBitsContainer.page0 Recent CoBits
            #coBitsWrapper