#title {
    font-family: 'Quicksand', sans-serif;
    font-size: 40px !important;
    float: left !important;
}

#coBitFrame{
    margin: 0 auto;
    width: 70vw;
    height: 40vh;
    margin-top: 51px;
    border: none;
}

