@import url('https://fonts.googleapis.com/css?family=Quicksand:700');

body {
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

#loginWrapper p {
    color: lightgrey;
    display: inline;
}

#loginWrapper h1 {
    color: lightgray;
}

a {
    color: lightgray;
    display: inline;
}

#title {
    font-family: 'Quicksand', sans-serif;
    font-size: 40px !important;
    float: left !important;
}

#topWrapper {
    background: #313131;
    border-bottom: 3px solid #393B3C;
}

#homeTitle {
    font-size: 3.5vw;
    color: white;
    font-family: 'Quicksand', sans-serif;
    text-shadow: 5px 5px 20px #000;
}

#homeSubtitle {
    position: absolute;
    font-size: 1.8vw;
    color: white;
    font-family: 'Quicksand:400', sans-serif;
    text-shadow: 5px 5px 20px #000;
    padding: .2em 20vw;
}

#homeLogo {
    font-size: 5vw;
    color: white;
    text-shadow: 5px 5px 20px #000;
}

#homeHeader {
    position: relative;
    left: 0;
    top: 53px;
    height: calc(100vh - 53px);
}

#homeHeaderTitle {
    position: absolute;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    width: 70vw;
    top: 15px;
    text-align: center;
}


#backgroundContainer {
    overflow: hidden;
    border: none;
    width: 100vw;
    height: calc(100vh - 53px);
}

#coBitContainer {
    width: 100vw;
    height: calc(100vh - 53px);
}

#headerButtonsWrapper {
    width: 100vw;
    height: 9vh;
    position: fixed;
    bottom: 0;
}

.headerButton {
    line-height: 2vh;
    text-align: center;
    width: 25vw;
    display: inline-block;
    height: 9vh;
}

.headerButton:hover{
    cursor: pointer;
}

#headerButtonHome {
    font-size: 4vh;
    width: 9vh;
    background: rgba(255, 75, 0, 0.5);
    transition: background .2s ease-in-out;
}

.headerButtonText {
    font-size: 4vh;
    color: white;
    font-family: 'Quicksand', sans-serif;
    text-shadow: 3px 3px 15px #000;
    cursor: default;
}

.headerButtonText:hover{
    cursor: pointer;
}

#headerButtonLogin {
    background: rgba(255, 19, 10, 0.5);
    transition: background .2s ease-in-out;
}

#headerButtonSignUp {
    background: rgba(163, 3, 255, 0.5);
    transition: background .2s ease-in-out;
}

#headerButtonCoBits {
    background: rgba(108, 17, 255, 0.59);
    transition: background .2s ease-in-out;
}

#headerButtonAbout {
    background: rgba(0, 0, 255, 0.56);
    transition: background .2s ease-in-out;
}

#headerButtonLogin:hover {
    background: rgba(255, 19, 10, 0.9);
}

#headerButtonSignUp:hover {
    background: rgba(163, 3, 255, 0.9);
}

#headerButtonCoBits:hover {
    background: rgba(129, 19, 255, 0.9);
}

#headerButtonAbout:hover {
    background: rgba(0, 0, 255, 0.9);
}