body {
    background-image: url(../backgrounds/escheresque_ste_@2X.png) !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

#loginWrapper p{
    color: lightgrey;
    display: inline;
}

#loginWrapper h1{
    color: lightgray;
}

a{
    color: lightgray;
    display: inline;
}