body {
    background-image: url(../backgrounds/escheresque_ste_@2X.png) !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

#loginWrapper p{
    color: lightgrey;
    display: inline;
}

#loginWrapper h1{
    color: lightgray;
}

a{
    color: lightgray;
    display: inline;
}

#title{
    font-size: 40px !important;
    float: left !important;
}

#topWrapper{
    background: #313131;
    border-bottom: 3px solid black;
}

.notification{
    margin-top: 5px;
    width: auto;
    height: auto;
    padding: 4px;
    border: 2px solid black;
    background: orange;
    color: white;
    border-radius: 15px;
}

#loginError{
    background: orange;
    border: 2px solid red;
}

#verified{
    background: darkgreen;
    border: 2px solid greenyellow;
}

#verifiedNo{
    background: orange;
    border: 2px solid red;
}

.removeNotification{
    color: black;
    top: 3px;
    float: right;
}