body {
    background-image: url(../images/sayagata-400px.png) !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

#loginWrapper{
    height: 520px;
}

#loginWrapper p{
    display: inline;
}

a{
    display: inline;
}