body {
    background-image: url(../backgrounds/escheresque_ste_@2X.png) !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

#loginWrapper{
    height: 520px;
}

#loginWrapper p{
    color: lightgrey;
    display: inline;
}

#loginWrapper h1{
    color: lightgray !important;
}

a{
    color: lightgray;
    display: inline;
}

#title{
    font-size: 40px !important;
    float: left !important;
}

#topWrapper{
    background: #313131;
    border-bottom: 3px solid black;
}