@import url('https://fonts.googleapis.com/css?family=Quicksand:700');

body {
    margin: 0;
    overflow: hidden;
}

.CodeMirror {
    width: 100%;
    position: static;
    left: 0;
    height: calc((100vh - 140px) / 3);
}

.CodeMirror-scrollbar {
    display: none;
}

#topWrapper {
    position: absolute;
    left: 0;
    width: 100vw;
    height: 50px;
    top: 0;
    background: #313131;
    border-bottom: 3px solid lightgrey;
}

.topButton {
    background: lightseagreen;
    border-radius: 5px;
    border: none;
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    width: auto;
    height: 40px;
    float: right;
    margin-right: 10px;
    margin-top: 5px;
    padding-left: 12px;
    padding-right: 12px;
}

.settingsButton {
    background: lightseagreen;
    border-radius: 5px;
    border: 2px solid grey;
    width: 100px;
    height: 40px;
    margin-right: 10px;
    margin-top: 5px;
    left: 300px;
    top: 90%;
    position: absolute;
}

#title {
    font-family: 'Quicksand', sans-serif;
    font-size: 25px;
    float: left;
    color: lightgrey;
    margin-left: 10px;

}

#owner{
    position: absolute;
    float: left;
    color: lightgrey;
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
    top: 28px;
    left: 65px;
}

#editIco {
    color: lightgrey;
}

#headInput {
    display: block;
    width: 400px;
    height: 100px;
    resize: none;
    margin: 0 auto;
}

.libraryInput {
    display: inline-block;
    width: 375px;
    height: 30px;
    margin: 0 auto;
}

.deleteLibrary {
    display: inline;
    margin-top: 7px;
}

#allWrapper {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 50px;
    margin: 0 auto;
}

#settings {
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    position: fixed;
    width: 700px;
    height: 600px;
    top: calc((100vh - 600px) / 2);
    left: calc((100vw - 700px) / 2);
    background: lightgrey;
    border-radius: 20px;
    border: 2px solid black;
    z-index: 100000;
}

#settingsTitle {
    margin-top: 30px;
    font-size: 40px;
}

.hidden {
    visibility: hidden;
}

#editorWrapper {
    margin: 0;
    height: 100vh;
    max-height: 100vh;
    width: 500px;
    left: 0;
    position: absolute;
}

#resizer {
    width: 10px;
    height: 100vh;
    background: grey;
    left: 500px;
    cursor: ew-resize;
}

#widthShow {
    visibility: hidden;
    left: -22.5px;
    top: calc(100vh - 100px);
    position: absolute;
    height: 20px;
    width: 60px;
    font-size: 15px;
    color: floralwhite;
    text-align: center;
    background: grey;
    border-radius: 3px;
}

#dragbars {
    margin-top: calc((100vh - 70px) / 2);
    margin-left: -2.5px;
    -webkit-transform: scaleX(0.7) rotate(-90deg);
    -moz-transform: scaleX(0.7) rotate(-90deg);
    -ms-transform: scaleX(0.7) rotate(-90deg);
    -o-transform: scaleX(0.7) rotate(-90deg);
    transform: scaleX(0.7) rotate(-90deg);
}

.handle {
    height: 30px;
    background: lightgray;
    width: calc(100% - 10px);
    z-index: 10000;
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    padding-left: 10px;
    box-shadow: 0 3px 3px -2px white;
}

.handle::first-line{
    margin-top: 40px;
}

.tidy {
    position: absolute;
    right: 10px;
    height: 20px;
    border-radius: 3px;
    background: lightseagreen;
    font-family: 'Quicksand', sans-serif;
    width: 50px;
    text-align: center;
    border: none;
    margin-right: 10px;
    margin-top: 5px;
}

.resizeable {
    cursor: ns-resize;
    z-index: 10000;
}

.editorBlock {
    overflow: hidden;
    height: calc((100vh - 140px) / 3);
}

#resultWrapper {
    top: 0;
    right: 0;
    height: calc(100vh - 50px);
    width: calc(100vw - 510px);
    position: absolute;
}

.overlay {
    height: inherit;
    width: inherit;
    background: transparent;
    z-index: 100;
    visibility: hidden;
}

#result {
    overflow: scroll;
    top: 0;
    position: absolute;
    width: inherit;
    height: inherit;
    z-index: 150;
}

::-webkit-scrollbar {
    margin-right: 3px;
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-button {
    width: 0;
    height: 0;
}

::-webkit-scrollbar-thumb {
    background: #515151;
    border: 0 none #ffffff;
    border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
    background: #515151;
}

::-webkit-scrollbar-thumb:active {
    background: #7a7a7a;
}

::-webkit-scrollbar-track {
    background: transparent;
    border: 0 none #ffffff;
    border-radius: 50px;
}

::-webkit-scrollbar-track:active {
    background: transparent;
}

::-webkit-scrollbar-corner {
    background: transparent;
}

#loginWrapperAll {
    height: 400px;
    top: 200px;
    left: 500px;
    width: 600px;
    margin-top: calc((100vh - 600px) / 2);
}

#topLogin {
    font-family: 'Quicksand', sans-serif;
    font-size: 50px;
    float: left;
    display: inline;
    color: lightgrey;
}

#topLogin p {
    color: grey;
    font-size: 30px;
}

#loginWrapper {
    display: inline;
    float: right;
    height: 330px;
    width: 225px;
    font-family: 'Quicksand', sans-serif;
    border-left: thick solid grey;
    padding-left: 30px;
}

#loginButton h1 {
    font-size: 40px;
}

.loginInput {
    font-size: 30px;
    height: 40px;
    display: block;
    width: 225px;
    margin: 0 auto;
}

#loginButton {
    width: 120px;
    margin: 0 auto;
    background: grey;
    border: none;
    display: block;
    margin-top: 20px;
    height: 40px;
    color: lightgrey;
    font-size: 25px;
    border-radius: 5px;
    box-shadow: 1px 4px 4px black;
}

#loginWrapper p {
    color: grey;
    font-size: 15px;
    text-align: left;
    margin: 0;
    margin-top: 3px;
}

#registerLink {
    float: right;
}
